.products-internal {
    background: url(../../assets/img/bg-products.jpg) no-repeat center;
    background-size: cover;
}

.product-item {
    padding-top: 50px;
}

.product-item h2 {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: -195px;
    text-align: center;
    margin-bottom: -79px;
}

.product-item h2:after, .product-item h2:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 14px auto 10px auto;
}

.product-icon {
    background: #121212;
    padding: 68px 0;
}

.product-icon img {
    margin: 0 auto;
    padding-left: 40px;
}

.product-info {
    background: #121212;
}

.product-info p{
    color: white;
    font-size: 18px;
    line-height: 25px;
    height: 180px;
    padding: 30px 40px ;
}

.product-info ul li {
    background: #fec63e;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    float: left;
    width: 229px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
}

.product-info ul li:nth-child(1), .product-info ul li:nth-child(2) {
    margin-bottom: 2px;
}

.product-info ul li:nth-child(even) { 
    margin-left: 2px;
}

/* BUDGET SESSION */

.budget {
    background: #000;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0px;
}

.budget h2 {
    color: #fec63e;
}

.budget h2:after {
    background: #fec63e;
}

.form {
    padding-right: 60px;
}

.form label {
    display: block;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: none;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 4px solid #fec63e;
    background: none;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
    padding: 7px 40px;
  background: none;
}

.budget_data {
    color: #fff;
}

.budget_data h3 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #fec63e;
    font-weight: bold;
}

.budget_data span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.data_email {
    margin-bottom: 40px;
}

.budget_data ul {
    padding-right: 60px;
}

.budget_data ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 10px;
}

.budget_data ul li:nth-child(odd) {
    background: #1d1d1d;
}

.budget_data p {
    margin: 8px 0px;
}

.pre-footer {
    margin-top: 0px;
}