@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/pages/products.css">
</head>

<!-- If header is equal to Products active-menu, but how do this using the layout? -->

<!-- <header>
    <a asp-area="" asp-controller="Home" asp-action="Products" class="active-menu">Produtos</a>
</header> -->

<div>
    <main role="main">
        @RenderBody()
    </main>
</div>