@{
    ViewData["Title"] = "Sobre";
    Layout = "_LayoutAbout";
}
    <!-- Introduction Section -->
    <section class="introduction-internal about-internal">
        <div class="container">
            <h1>Sobre</h1>
            <p>Conheça mais sobre a Bikcraft.</p>
        </div>
    </section>
    <!-- End -->

    <!-- Mission Section -->
    <section class="mission-about container">
        <div class="grid-10">
            <h2 class="subtitle-internal">História, Missão e Visão</h2>
            <p>No mundo atual, a continua expansão da nossa atividade cumpre um papel essencial na formulação da gestão
                inovadora da qual fazemos parte.</p>
            <p>No mundo atual, a continua expansão da nossa atividade cumpre um papel essencial na formulação da gestão
                inovadora da qual fazemos parte.</p>
        </div>
        <div class="grid-6">
            <h2 class="subtitle-internal">Valores</h2>
            <ul>
                <li>- Qualidade na criação.</li>
                <li>- Foco no cliente.</li>
                <li>- Sustentabilidade na produção.</li>
                <li>- Agilidade na entrega.</li>
            </ul>
        </div>

        <div class="grid-16 pic-team">
            <img src="~/assets/img/team-bikcraft.jpg" alt="Fila de bibicletas"></img:>
        </div>
    </section>
    <!-- End -->

    <!-- Quality Section -->
    <section class="quality container">
        <h2 class="subtitle">
            Qualidade
        </h2>
        <img src="~/assets/img/bikcraft-quality.svg"
            alt="Infográfico conectando a marca bikcraft às palavras durabilidade, design e sustentabilidade." />
        <ul class="quality-list">
            <li class="grid-1-3">
                <h3>Durabilidade</h3>
                <p>Componentes desenhados e constrúidos à mão exaustivamente testados para alta durabilidade.</p>
            </li>
            <li class="grid-1-3">
                <h3>Design</h3>
                <p>Todo design da bicicleta é cuidadosamente pensando para sua elegância e qualidade.</p>
            </li>
            <li class="grid-1-3">
                <h3>Sustentabilidade</h3>
                <p>Ao comprar nossas bicicletas você ajuda a diminuir o número de carros em circulação.</p>
            </li>
        </ul>
    </section>
    <!-- End -->

    <!-- pre-footer -->
    <section class="pre-footer">
        <blockquote class="external-quote container">
            <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida
                cotidiana."</p>
            <cite>William Morris</cite>
        </blockquote>
    </section>
    <!-- End  -->