@{
    ViewData["Title"] = "Contato";
    Layout = "_LayoutContact";
}

    <!-- Introduction Section -->
    <section class="introduction">
        <div class="container">
            <h1>Bicicletas Feitas a Mão</h1>
            <blockquote class="external-quote">
                <p>"Não possua nada em sua casa que você não considera útil ou acredita ser bonito."</p>
                <cite>William Morris</cite>
            </blockquote>
            <a class="btn" href="products.html">Orçamento</a>
        </div>
    </section>
    <!-- End -->

    <!-- Products -->
    <section class="products container">
        <h2 class="subtitle">Produtos</h2>
        <ul class="products_list">
            <li class="grid-1-3">
                <div class="products_icon">
                    <img src="~/assets/img/products/walking.svg"
                        alt="Desenho do contorno de uma bicicleta para passeio em amarelo">
                </div>
                <h3>Passeio</h3>
                <p>Lindos modelos de bicicleta para passeio com ótimo custo-beneficio, ideal para um ciclista ocasional.
                </p>
            </li>

            <li class="grid-1-3">
                <div class="products_icon">
                    <img src="~/assets/img/products/sport.svg"
                        alt="Desenho do contorno de uma bicicleta para esporte em amarelo">
                </div>
                <h3>Esporte</h3>
                <p>Bicicletas esportivas de alta-qualidade com tecnologia de amortecimento e estabilidade de ponta,
                    ideal para atletas.</p>
            </li>

            <li class="grid-1-3">
                <div class="products_icon">
                    <img src="~/assets/img/products/retro.svg"
                        alt="Desenho do contorno de uma bicicleta modelo retro em amarelo">
                </div>
                <h3>Retro</h3>
                <p>Revisite os modelos clássicos dá humanidade em nossa sessão de bicicletas retro.</p>
            </li>
        </ul>

        <div class="call">
            <p>Clique aqui e veja os detalhes do produto.</p>
            <a class="btn btn-no-background" href="products.html">Produtos</a>
        </div>
    </section>
    <!-- end -->

    <!-- Portfolio -->
    <section class="portfolio">
        <div class="container">
            <h2 class="subtitle">Portfolio</h2>
            <ul class="portfolio-list">
                <li class="grid-8"><img src="~/assets/img/portfolio/retro.jpg" alt="Desenho de bicicleta retro"></li>
                <li class="grid-8"><img src="~/assets/img/portfolio/walking.jpg" alt="Desenho de bicicleta passeio"></li>
                <li class="grid-16"><img src="~/assets/img/portfolio/sport.jpg" alt="Desenho de bicicleta esporte"></li>
            </ul>
        </div>

        <div class="call">
            <p>Conheça mais sobre nosso portfolio.</p>
            <a class="btn" href="portfolio.html">
                Produtos
            </a>
        </div>
    </section>
    <!-- End -->

    <!-- Quality Section -->
    <section class="quality container">
        <h2 class="subtitle">
            Qualidade
        </h2>
        <img src="~/assets/img/bikcraft-quality.svg"
            alt="Infográfico conectando a marca bikcraft às palavras durabilidade, design e sustentabilidade." />
        <ul class="quality-list">
            <li class="grid-1-3">
                <h3>Durabilidade</h3>
                <p>Componentes desenhados e constrúidos à mão exaustivamente testados para alta durabilidade.</p>
            </li>
            <li class="grid-1-3">
                <h3>Design</h3>
                <p>Todo design da bicicleta é cuidadosamente pensando para sua elegância e qualidade.</p>
            </li>
            <li class="grid-1-3">
                <h3>Sustentabilidade</h3>
                <p>Ao comprar nossas bicicletas você ajuda a diminuir o número de carros em circulação.</p>
            </li>
        </ul>
        <div class="call">
            <p>Conheça nossa história.</p>
            <a class="btn btn-no-background" href="about.html">
                Sobre
            </a>
        </div>
    </section>
    <!-- End -->

    <!-- pre-footer -->
    <section class="pre-footer">
        <blockquote class="external-quote container">
            <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida
                cotidiana."</p>
            <cite>William Morris</cite>
        </blockquote>
    </section>
    <!-- End  -->