@{ 
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="~/css/pages/products.css">
</head>

    <!-- Introduction Section -->
    <section class="introduction-internal products-internal">
        <div class="container">
            <h1>Produtos</h1>
            <p>Conheça todos os nossos produtos.</p>
        </div>
    </section>
    <!-- End -->

    <!-- Walking Section -->
    <section class="container product-item">
        <div class="grid-11">
            <img src="~/assets/img/products/bikcraft-walking-1.jpg"
                alt="Duas pessoas andando em um modelo de bibicleta de passeio.">
            <h2>Passeio</h2>
        </div>
        <div class="grid-5 product-icon"><img src="~/assets/img/products/walking.svg"></div>
        <div class="grid-8"><img src="~/assets/img/products/bikcraft-walking-2.jpg"></div>
        <div class="grid-8 product-info">
            <p>O modelo de passeio é um dos maios modernos e confortáveis já produzidos pela Bikcraft, isso devido ao
                mesmo ter sido projetado pensando em longos periodo de atividade que podem chegar à 6h.
            </p>
            <ul>
                <li>Conforto</li>
                <li>Velocidade</li>
                <li>Design</li>
                <li>Versatilidade</li>
            </ul>
        </div>
    </section>
    <!-- End -->

    <!-- Sport Section -->
    <section class="container product-item">
        <div class="grid-11">
            <img src="~/assets/img/products/bikcraft-sport-1.jpg"
                alt="Duas pessoas andando em um modelo de bibicleta de passeio.">
            <h2>Esporte</h2>
        </div>
        <div class="grid-5 product-icon"><img src="~/assets/img/products/sport.svg"></div>
        <div class="grid-8"><img src="~/assets/img/products/bikcraft-sport-2.jpg"></div>
        <div class="grid-8 product-info">
            <p>O modelo de esportivo foca naquelas pessoas que desejam aproveitar ao máximo a adrenalina de uma
                trilha, corrida ou mesmo uma maratona, com a melhor tecnologia e segurança disponiveis no mercado.
            </p>
            <ul>
                <li>Resistência</li>
                <li>Velocidade</li>
                <li>Durabilidade</li>
                <li>Versatilidade</li>
            </ul>
        </div>
    </section>
    <!-- End -->

    <!-- Retro Section -->
    <section class="container product-item">
        <div class="grid-11">
            <img src="~/assets/img/products/bikcraft-retro-1.jpg"
                alt="Duas pessoas andando em um modelo de bibicleta de passeio.">
            <h2>Retro</h2>
        </div>
        <div class="grid-5 product-icon"><img src="~/assets/img/products/retro.svg"></div>
        <div class="grid-8"><img src="~/assets/img/products/bikcraft-retro-2.jpg"></div>
        <div class="grid-8 product-info">
            <p>O modelo retro é uma releitura de modelos clássicos, porém que contam com o acréscismo de armortecedores
                e
                tecnologias de segurança modernas, para que você possa aproveitar o estilo retro com a segurança da
                modernidade.
            </p>
            <ul>
                <li>Design</li>
                <li>Vintage</li>
                <li>Conforto</li>
                <li>Segurança</li>
            </ul>
        </div>
    </section>
    <!-- End -->

    <!-- pre-footer -->
    <section class="pre-footer">
        <blockquote class="external-quote container">
            <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida
                cotidiana."</p>
            <cite>William Morris</cite>
        </blockquote>
    </section>
    <!-- End  -->